<FlexboxLayout flexDirection="column">
    <Label text="Seleciona opción"></Label>
    <ListPicker [items]="list" [selectedIndex]="selectedIndex" (selectedIndexChange)="onSelect($event)" />

    @if (itemselected() === 'example1') {
    <FlexboxLayout backgroundColor="#3c495e">
        <Label text="first" width="70" height="200" backgroundColor="#43B3F4"></Label>
        <Label text="second" width="70" height="200" backgroundColor="#075B88"></Label>
        <Label text="third" width="70" height="200" backgroundColor="#1089CA"></Label>
    </FlexboxLayout>
    }
    @if (itemselected() === 'example2') {
    <FlexboxLayout alignItems="flex-start" backgroundColor="#3f455e">
        <Label text="first" width="70" height="70" backgroundColor="#43B3F4"></Label>
        <Label text="second" width="70" height="70" backgroundColor="#075B88"></Label>
        <Label text="third" width="70" height="70" backgroundColor="#1089CA"></Label>
    </FlexboxLayout>
    }
    @if (itemselected() === 'example3') {
    <FlexboxLayout backgroundColor="#3c495e">
        <Label text="first" order="2" width="70" height="70" backgroundColor="#43B3F4"></Label>
        <Label text="second" order="3" width="70" height="70" backgroundColor="#075B88"></Label>
        <Label text="third" order="1" width="70" height="70" backgroundColor="#1089CA"></Label>
    </FlexboxLayout>
    }
    @if (itemselected() === 'example4') {
    <FlexboxLayout flexWrap="wrap" backgroundColor="#3c495e">
        <Label text="first" width="30%" height="70" backgroundColor="#43B3F4"></Label>
        <Label text="second" width="30%" height="70" backgroundColor="#075B88"></Label>
        <Label text="third" width="30%" height="70" backgroundColor="#1089CA"></Label>
        <Label text="fourth" width="30%" height="70" backgroundColor="#1089CA"></Label>
    </FlexboxLayout>
    }
    @if (itemselected() === 'example5') {
    <FlexboxLayout flexDirection="column" backgroundColor="#3c495e">
        <Label text="first" height="70" backgroundColor="#43B3F4"></Label>
        <Label text="second" height="70" backgroundColor="#075B88"></Label>
        <Label text="third" height="70" backgroundColor="#1089CA"></Label>
    </FlexboxLayout>
    }
    @if (itemselected() === 'example6') {
    <FlexboxLayout flexDirection="column-reverse" justifyContent="space-around" backgroundColor="#3c495e">
        <Label text="first" height="70" backgroundColor="#43B3F4"></Label>
        <Label text="second" alignSelf="center" width="70" height="70" backgroundColor="#075B88"></Label>
        <Label text="third\nflex-end" alignSelf="flex-end" width="70" height="70" backgroundColor="#1089CA"></Label>
        <Label text="fourth" height="70" backgroundColor="#1089CA"></Label>
    </FlexboxLayout>
    }

</FlexboxLayout>